[Unit]
Description=Execsnoop-er startup: log all processes that run, logfile /home/USR/all_commands_log.txt

[Service]
Restart=on-abnormal
Type=simple
ExecStart=/home/kaiwan/usefulsnips/execsnooper/execsnooper

[Install]
WantedBy=basic.target
